/*************** 
  GENERAL STYLES
 ***************/

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 a{
    text-decoration: none;
 }

 /* FONT/TEXT */

 *{
    font-family: 'Open Sans', sans-serif;
 }

 .text-xs{
    font-size: 12px;
 }

 .text-s{
    font-size: 15px;
 }
 /* ICONS */

 .fa-bars{
    padding: 15px 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
 }

 /* STAR */

 .star-container{
    position: relative;
 }

 .fa-star{
    position: relative;
 }

 .white-line:before {
    content: "";
    background: #fff;
    display: block;
    width: 110px;
    height: 5px;
    left: 100px;
    top: 50%;
    position: absolute;
  }

  .white-line:after {
    content: "";
    background: #fff;
    display: block;
    width: 110px;
    height: 5px;
    right: 100px;
    top: 50%;
    position: absolute;
}

.dark-blue-line:before {
    content: "";
    background: #2C3E50;
    display: block;
    width: 110px;
    height: 5px;
    left: 100px;
    top: 50%;
    position: absolute;
  }

  .dark-blue-line:after {
    content: "";
    background: #2C3E50;
    display: block;
    width: 110px;
    height: 5px;
    right: 100px;
    top: 50%;
    position: absolute;
}


/*************** 
   UTILITIES
 ***************/

.sm-content{
   width: 100%;
   height: 70px;
   background-color: red;
}

.content{
    height: 150px;
    background-color: red;
 }

.p-relative{
    position: relative;
}

 /*************** 
   SITE SECTION
 ***************/


 /* HEADER */

 .header-title{
    font-size: 16px;
    color: white;
    font-weight: bold;
 }

 .header-menu-container{
    display: block;
 }

 .header-menu-list-container{
    display: none;
 }

 .header-menu-list{
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
 }

 .header-menu-list li{
    padding: 0px 10px;
 }

 .header-menu-list li a{
    color: white;
    font-size: 15px;
    font-weight: bold;
 }

 /* END OF HEADER */


 /* JUMBOTRON */

 #jumbo-img{
    height: 280px;
    width: 280px;
 }

 /* END OF JUMBOTRON */


 /* ABOUT */

 .about-p{
    width: 70%;
 }

 /* END OF ABOUT */


 /* CONTACT ME SECTION */


  .submit-btn{
    color: white;
    padding: 8px 15px;
    background-color: #1ABC9C;
    border: none;
    border-radius: 5px;
    border: 2px solid #fff;
  }

  .submit-btn:hover{
   color: #1ABC9C;
   background-color: white;
   transition-duration: 0.7s;
   border: 2px solid #1ABC9C;
  }

  .contact-me-form-type{
    border: none;
    border-bottom: solid 1px lightgrey;
    width: 100%;
    padding: 13px 0px;
  }

  .contact-me-form-type:focus{
   outline: none;
  }

  ::placeholder{
    color: #2C3E50;
    font-weight: bold;
    opacity: 1;
  }
  

 /* END OF CONTACT ME SECTION */


 /* FOOTER */

 .reference-title{
    color: white;
    font-size: 16px;
 }

 .icon-reference-list-container{
    display: flex;
    justify-content: center;
 }

 .icon-reference-list{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
 }

 .icon-reference-list li{
    padding: 0px 5px;
 }

 .icon-reference-list li a{
    color: white;
 }

 .fa-facebook-f{
    padding: 20px 15px;
    border-radius: 50%;
 }

 .fa-google-plus-g,
 .fa-twitter{
    padding: 20px 10px;
    border-radius: 50%;
 }
 
 .fa-linkedin-in{
    padding: 20px 12px;
    border-radius: 50%;
 }

 /* END OF FOOTER */

 

 


 /*************** 
      COLORS
 ***************/

.bg-dark-blue{
    background-color: #2C3E50;
}

.bg-pink{
    background-color: #BA4B63;
}

.bg-3a546d{
    background-color: #3A546D;
}

.bg-blue{
    background-color: #0E38B5;
}

.bg-black{
    background-color: #140F0F;
}

.bg-light-pink{
    background-color: #CCB2A3;
}

.bg-sky-blue{
    background-color: #1C83C1;
}

.bg-aquamarine{
    background-color: #1ABC9C;
}

.aquamarine{
    color: #1ABC9C;
}

.dark-blue{
    color: #2C3E50;
}

.white{
    color: #fff;
}

/*************** 
  MEDIA QUERIES 
****************/

@media screen and (min-width:768px){

    /* HEADER */

    .header-menu-container{
        display: none;
    }

    .header-menu-list-container{
        display: block;
    }

    .header-title{
        font-size: 20px;
     }

     /* END OF HEADER */

     /* JUMBOTRON */

     h1{
        font-size: 60px;
     }

     /* END OF JUMBOTRON */

     /* ABOUT */

     .about-p{
        width: 80%;
     }

     /* END OF ABOUT */

      /* FOOTER */

     .reference-title{
        font-weight: bold;
        font-size: 20px;
     }

    /* END OF FOOTER */

    /* ICONS */

    .white-line:before {
        width: 200px;
        height: 5px;
        left: 130px;
      }
    
      .white-line:after {
        width: 200px;
        height: 5px;
        right: 130px;
    }
    
    .dark-blue-line:before {
        width: 200px;
        height: 5px;
        left: 130px;
      }
    
    .dark-blue-line:after {
        width: 200px;
        height: 5px;
        right: 130px;

    }
    /* END OF ICONS */
}

@media screen and (min-width:992px){

    /* HEADER */

    /* END OF HEADER */

    /* JUMBOTRON */

    /* END OF JUMBOTRON */

    /* ABOUT */

     .about-p{
        width: 100%;
     }
     
    /* END OF ABOUT */
}