/*************** 
  GENERAL STYLES
 ***************/

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

.sm-content{
   width: 100%;
   height: 70px;
   background-color: red;
}

.content{
    height: 150px;
    background-color: red;
 }

 /*************** 
      COLORS
 ***************/

.bg-dark-blue{
    background-color: #2C3E50;
}

.bg-pink{
    background-color: #BA4B63;
}

.bg-3a546d{
    background-color: #3A546D;
}

.bg-blue{
    background-color: #0E38B5;
}

.bg-black{
    background-color: #140F0F;
}

.bg-light-pink{
    background-color: #CCB2A3;
}

.bg-sky-blue{
    background-color: #1C83C1;
}

.bg-water-green{
    background-color: #1ABC9C;
}
